.message-list {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.message-divider {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.message-divider__line {
    height: 1px;
    flex-grow: 1;
    border-bottom: 2px dashed #3b5998;
}

.message-divider__date {
    flex-shrink: 0;
    margin: 0;
    padding: 5px 30px;
    text-align: center;
    border: solid 2px #3b5998;
    border-radius: 5px;
    color: #000000;
}
