*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #root {
    overflow: hidden;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 16px;*/
    line-height: 1.4;
    font-weight: normal;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 15px 40px;
    width: 100%;
}

@media all and (max-width: 720px) {
    .header div {
        margin-left: 10px;
    }
}
