.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.chat__header {
    flex-shrink: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.chat__content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.chat__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
}

.chat__footer-title {
    display: flex;
    margin: 10px auto;
    text-align: center;
    color: #000000;
}
